# .pss.env   Sample file

# GDrive For Tournament Data
export GDRIVE_CLIENT_ID=
export GDRIVE_FOLDER_ID=
export GDRIVE_SERVICE_PRIVATE_KEY_ID=
export GDRIVE_SERVICE_PROJECT_ID=

# Discord Admin ID
export ADMIN_ID=

export BOT_TOKEN=

# Bot Channel 
export BOT_CANNEL_ID=

# DATABASE
export DATABASE_IP=
export DATABASE_PORT=
export DATABASE_USER=
export DATABASE_PW=

# TOUNEY
export FEATURE_TOURNEYDATA_ENABLED=


# DEBUG
export PRINT_DEBUG=1
export PRINT_DEBUG_WEB_REQUESTS=
export PRINT_DEBUG_COMMAND=
export PRINT_DEBUG_DB=
